
<div id="container">

    <div id="sub-container"> 
         

     </div> 
     <form (ngSubmit)="submit()" #f="ngForm">
      <h1 id="action">Compliments/Complaints</h1>
       <hr id="horizontal-line">   
       <label id="enterTittle">Enter tittle</label>
        <input id="tittle" name="tittle"required [(ngModel)]="tittle" />

       <h2 for="questions">Enter your question:</h2>
      
       <input id="input-one" name="question" required  [(ngModel)]="question"/>
       


       <button id="mats" mat-icon-button [disabled]="!f.valid" data="disabled">Submit</button> 
     </form> 
       

@if(click){


<div id="containerTwo">

<form (ngSubmit)="onSubmit()" #f="ngForm">
       <h1>{{tittles}}</h1>
      
           <p><select name="answerOne" id="answerOne" [(ngModel)]="answer" required >
              <option id="question" disabled selected hidden value="" >{{questions}}</option>
              
                     <option>Yes</option>
                     <option>No</option>
              </select>
        </p>
         

     
       
        

        @if(answer == 'Yes' ){
              <h4>Please enter your reason</h4>
              
              
              <textarea rows="6" cols="40" name="reason" [(ngModel)]="reason" required></textarea>
              @if(reason.length === 0){
            <h4>Please fill in the space</h4>
           

        }
           <button id="buttonTwo" mat-icon-button [disabled]="!f.valid" data="disabled">Submit</button>
              
        }
        
        

        @if(answer == 'No'){
              <h4>Please enter your complaint</h4>
              
  
              <textarea rows="6" cols="40" name="reason" [(ngModel)]="reason" required></textarea>
              @if(reason.length === 0){
            <h4>Please fill in the space</h4>

        }
              <button  id="buttonTwo" mat-icon-button  [disabled]="!f.valid" data="disabled">Submit</button>

        }
         
              
       </form>
       
</div>
}

       
</div>


