
<div id="container">

   
    <div id="containerthree">
          <h1 id="action">Compliments/Complaints</h1>   
            <!-- <hr id="horizontal-line">   -->
   </div>   
     
       




    <div id="containerTwo">
      
         
  
      




      <h3>Are you happy with our service?</h3>
      <button id="yes" mat-icon-button (click)="submits(`Yes`)">
            <mat-icon id="yess">thumb_up</mat-icon>
      </button>
      

      <button id="no" mat-icon-button (click)="submits(`No`)">
           
             	<mat-icon id="noo">thumb_down</mat-icon>
      </button>
      
          
     
       
        <form (ngSubmit)="onSubmit()" #f="ngForm">

        @if(answer == 'Yes' ){
              <h4>Please enter your reason</h4>
              
              
              <textarea rows="6" cols="40" name="reason" [(ngModel)]="reason" required></textarea>
              @if(reason.length === 0){
      
           

        }
           <button id="buttonTwo"  [disabled]="!f.valid" data="disabled">Submit</button>
              
        }
        
        

        @if(answer == 'No'){
              <h4>Please enter your complaint</h4>
              
  
              <textarea rows="6" cols="40" name="reason" [(ngModel)]="reason" required></textarea>
              @if(reason.length === 0){
            

        }
              <button  id="buttonTwo"   [disabled]="!f.valid" data="disabled">Submit</button>

        }
         
              
       </form>
       
     </div> 
      

     

      
</div>

