p{
    margin-top: 100px;
    margin-left: 180px;
}

 

 

  #list-of-users {
   /* width: 700px;
   height: 500px; */
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* border: solid darkblue; */
   margin-left: 30px;
   margin-top: 30px;
  }

  #name-surname {
   position: absolute;
   margin-left: -20px;
  }

  #email {
   /* position: absolute; */
   margin-top: -20px;
   margin-left: 40px;
   color: gray;
  }

  #icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: solid darkblue;
   position: absolute;
   margin-top: 15px;
   margin-left: 2px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc-wDaUFKJoBNj1eSyzPJjLKfLcaPcbIrZWnHnhxh9pUnH8TEA_fYTYn4&s');
  background-size: cover;
   background-position: center;
  } 

   
  

 .icons {
    width: 40px; 
   height: 40px; 

   background-color: white;
}
.add-Icon{
   margin: 15px;
   margin-left: 500px;
    width: 40px; 
   height: 40px; 
   background-color: white;
}

 
#container {
   width: 600px;
   min-height: 500px;
   /* border: solid red; */
}

 
#user-icons {
   margin-left: 570px;
}

label {
   font-size: 20px;
   font-weight: 400;
}

#btns {
   width: 100px;
   height: 40px;
   margin-left: 470px;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   /* border: solid darkblue; */
}

button {
   background-color: white;
   width: 30px;
   height: 30px;
}

