
 <div id="container">
    <div id="my-div">
        <div class="search-bar">
             <form id="formSearch" [formGroup]="form">
                <button  id="icon-btn" matMiniFab>
                
                 <mat-icon id="icon">search</mat-icon>
                 
               </button>
             
             <input type="text" name="enteredSearchedStudent" [placeholder]="'search'"  formControlName ="searchControl" />
             <button type="submit" class="my-btn" matButton="elevated">submit</button>
        </form>

        </div>

         <div class="de-register-div">
             <form id="formSearch" [formGroup]="formDeregister" (ngSubmit)="onDeregister()">
                 <button id="icon-btn"  matMiniFab>
                
                 <mat-icon >remove_circle</mat-icon>
                 
               </button>
               <input  type="text" name="enteredDeregistedStudent" [placeholder]="'de-register'"  formControlName ="deregisterControl"/>
               <button type="submit" class="my-btn" matButton="elevated">submit</button>
            </form>
            
        </div>

        <button (click)="onAdd()" id="btn" mat-raised-button>+</button>
    </div>
 <table>
     
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                 <th>Registration_NO</th>
                <th>city</th>
                <th>address</th>
                <th>sector</th>
                <th>Email</th>
                <th>Tel_No</th>
                <th>status</th>
            </tr>
        </thead>

        <tbody>
             @for(company of myCompanies; track company.id) {
                  <tr  (click)="onCompany(company)">
               
                <td>{{company.id}}</td>
                <td>{{company.name}}</td>
                 <td>{{company.registrationNO}}</td>
                <td>{{company.city}}</td>
                <td>{{company.address}}</td>
                <td>{{company.sector}}</td>
                <td>{{company.email}}</td>
                <td>{{company.telNo}}</td>
                <td>{{company.status}}</td>
            </tr>
                }
          

            
        </tbody>
 </table>
 
 </div>