*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 

 table {
   
    width: 1559px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px lightslategray;
    background-color: white;
    text-align: left;
   
 }

 .ACTIVE {
   background-color: cadetblue  ;
   color: white;
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
  border-radius: 2rem;
 }

  .IN-ACTIVE {
   background-color:darkred  ;
   color: white;
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
  border-radius: 2rem;
 }

 thead {
    box-shadow: 0 5px 10px lightgrey;
     
 }

 #icon {
   width: 19px;
   height: 18px;
}

#icon-btn {
  width: 19px;
   height: 18px;
   background-color: white;

}

 
 th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    color: darkblue;
 }

 input {
  text-align: center;
 }

::placeholder{
  color: darkblue;
}

.my-btn {
  width: 25px;
  height: 25px;
  background-color: white;
  /* border: solid darkblue; */
  border-radius: 10px;
}

 td {
   padding: 1rem 2rem;
   color: grey;
 }

 tr:nth-child(even) {
   background-color: whitesmoke;
 }

 tr:hover {
    box-shadow: 0 5px 10px lightslategray;

 }

 #my-div {
   width: 100%;
   height: 60px;
   /* border: solid lightslategray; */
 }

 /* #container {
   width: 1115px;
 } */

 #formSearch{
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-evenly; */
 }


 .search-bar  {
  display: flex;
  
  justify-content:space-evenly;
  /* align-items: center; */
   width: 300px;
   height: 40px;
   /* border: solid lightslategray; */
   margin-left: 150px;
   margin-top: 5px;
 }

 #btn {
  position: absolute;
  margin-left: 1430px;
  margin-top: -20px;
  font-size: 30px;
 }

 .de-register-div {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 300px;
   height: 40px;
   /* border: solid lightslategray; */
    margin-left: 500px;
   margin-top: -40px;
 }

 #container {
  width: 1569px;
  height: auto;
  margin-left: -0px;
  margin-top: 0px;
  /* border: solid darkblue; */
  background-color: white;
   
 }

  

