

        <div id="user-icons">
             <button  (click)="onClick()" class="add-Icon" matMiniFab>
                 +
            </button>
            
        </div>
 <table>
        
     
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                 <th>Employee_No</th>
                <th>Email</th>
                
            </tr>
        </thead>

        <tbody>
             @for(user of getUsers; track user.id) {
                  <tr  >
               
                <td appEditUser [empNO]="user.employNO">{{user.name}}</td>
                <td appEditUser [empNO]="user.employNO">{{user.surname}}</td>
                <td>{{user.employNO}}</td>
                <td appEditUser [empNO]="user.employNO">{{user.email}}</td>
                <td><button class="icons" matMiniFab>
                 <mat-icon appEditUser [empNO]="user.employNO">delete_outline</mat-icon>
            </button></td>
                
            </tr>
                }
          

            
        </tbody>
 </table>
