
<div id="container">
      <div id="header">
        <header>
            <h3>
               Users
            </h3>
        </header>
    </div>



    <div id="list-of-users">
      
        <div id="user-icons">
            <button id= "refreshBtn" matMiniFab (click)="refresh()">
                 <mat-icon>cached</mat-icon>
            </button> 
             <button  (click)="onClick()" class="add-Icon" matMiniFab>
                 +
            </button>
            
            
        </div>
 <table>
        
     
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                 <th>Employee_No</th>
                <th>Email</th>
                
            </tr>
        </thead>

        <tbody>
             @for(user of getUsers; track user.id) {
                  <tr  >
               
                <td appEditUser [person]="user">{{user.name}}</td>
                <td appEditUser [person]="user">{{user.surname}}</td>
                <td>{{user.employNO}}</td>
                <td appEditUser [person]="user">{{user.email}}</td>
                <td><button class="icons" matMiniFab>
                 <mat-icon appEditUser   (click)="removeUser(user)">delete_outline</mat-icon>
            </button></td>
                
            </tr>
                }
          

            
        </tbody>
 </table>
    </div>
    

<div id="routed-view">
    <router-outlet/>
</div>
</div>

