<div class="container">
    <div>
        <header id="header">
            <h1>my company</h1>
        </header>
    </div>

    
    <div id="container2">
        <div id="stats">
            <div id="date">
        <button></button>
        
    </div>

    <div id="number-of-users">
        <button></button>
    </div>

     <div id="number-of-scheduled-meetings">
        <button></button>
    </div>
        </div>
        

    <div id="comapany-info">
        <h2 id="company-header">company-info</h2>
        <button id="update-info-btn" class="icons" matFab>
                  update
            </button>
    </div>

    <div id="surveys">
        <h2 id="surveys-header">surveys</h2>
        <div id="survey-icons">
            <button class="icons" matMiniFab>
                 <mat-icon>delete_outline</mat-icon>
            </button>
            <button class="icons" matMiniFab>
                 +
            </button>
            
        </div>
    </div>

    <div id="user">
        <h2 id="users-header">company-users</h2>
        
        <div id="view-users">
            <app-view-users></app-view-users>
        </div>
         
    </div>
    

    <div id="meetings">
        <h2 id="meetings-header">scheduled meetings</h2>
        <div id="meeting-icons">
            <button class="icons" matMiniFab>
                 <mat-icon>delete_outline</mat-icon>
            </button>
            <button class="icons" matMiniFab>
                 +
            </button>
            
        </div>
    </div>

    </div>
</div>
