

<div class="container">
    <div id="heading">

    </div>
    
    <div id="title">
        <button id="btn">edit</button>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>city</th>
                <th>address</th>
                <th>sector</th>
                <th>Email</th>
                <th>Tel_No</th>
                <th>status</th>
            </tr>
        </thead>

        <tbody>
             <!-- @for(company of myCompanies; track company.id) {
                  <tr  (click)="onCompany()"> -->
               
                <!-- <td>{{company.id}}</td>
                <td>{{company.name}}</td>
                <td>{{company.city}}</td>
                <td>{{company.address}}</td>
                <td>{{company.sector}}</td>
                <td>{{company.email}}</td>
                <td>{{company.telNo}}</td>
                <td>{{company.status}}</td>
            </tr>
                }
           -->

            
        </tbody>
        </table>


       
    <!-- </div>
    <div  id="userlist">
        <h2>userlist</h2>
         <button id="btn">edit</button>

    </div>
    <div id="suveylist">
        <h2>suveylist</h2>
         <button id="btn">edit</button>


    </div>
    <div id="unknown">
        <h2>....list</h2>
         <button id="btn">edit</button>

    </div> -->

</div>
