<div class="container">
    <div>
        <header id="header">
            <h1>{{getCompany.name}}</h1>
        </header>
    </div>

    
    <div id="container2">
       <div id="menu">
         <ul>
            <li (click)="onHome()">Home</li>
            <li id="surveys" (click)="onSurveys()">Surveys</li>
            <li id="users" (click)="onUsers()">Users</li>
             <li matBadgeColor="accent" [matBadge]="numberOfComents" matBadgeOverlap="false" id="comments" (click)="onComments()">Comments</li>  
            <li id="meetings" (click)="onMeetings()">Meetings</li>
            <li id="company-info" (click)="onCompanyInfo()">Company-info</li>
         </ul>
       </div>
        <div id="view-container">
             <router-outlet/>
        </div>
         

    </div>
    
   
 
