 
<h3 id="header">Meeting details</h3>

<label>{{meeting.title}}</label>

                           <mat-card class="example-card" appearance="outlined">
                            <div id="date">
                                <span id="date-span">date</span>
                                <span id="date-meeting">{{meeting.date}}</span>
                            </div>

                            <div id="date">
                                <span id="time-span">time</span>
                                <span id="time-meeting">{{meeting.startTime}}-{{meeting.endTime}}</span>
                            </div>

                             <div id="date">
                                <span id="location-span">Location</span>
                                <span id="location-meeting">{{meeting.location}}</span>
                            </div>
                            
                            </mat-card>

                            <button id="back-btn" (click)="onBack()">
                                <
                            </button>
                              <button  id="btn-icon-qr-code" matMiniFab (click)="onGenerateQRCode()">
                                    <mat-icon>qr_code</mat-icon>
                             </button>
                            <div id="routed">
                                <router-outlet/> 
                            </div>

                            <div id="atendencees">     
                                <app-view-attendances/> 
                            </div>