#box{
    width:500px;
    height: 500px;
    margin: 50px auto;;
    border: 1px solid #ccc;
     overflow-y: auto;  
    margin-left: 800px;
    margin-top: 300px;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h3{
    font-size: large;
    font-weight: 500px;
    color: black;
    margin-left: 160px;
    padding: 20px;
}

