
<div>
    <h2>Registration form</h2>
    <form>
        <p>
            <label>Company-name:</label>
            <input name="Company-name" type="text">
        </p>
        <p>
            <label>City:</label>
            <input  name="city" type="text">
        </p>
        <p>
            <label>Sector:</label>
            <input  name="sector" type="text">
        </p>
        <p>
            <label>Email:</label>
            <input  name="email" type="text">
        </p>
        <p>
            <label>TelNo:</label>
            <input  name="telNo" type="text">
        </p>
        <button type="submit">Register</button>

    </form>
</div>
