
 <div id="container">
    <div id="header">
        <header>
            <h3>
                meetings
            </h3>
        </header>
    </div>

    


    <div id="list-of-meetings">

        <button id= "refreshBtn" matMiniFab (click)="refresh()">
            <mat-icon>cached</mat-icon>
        </button> 
        
        <button id= "myButton" matMiniFab (click)="onAdd()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>   
      
       <div id="list-of-surveys">
        <table>
     
        <thead>
            <tr>
                <th>Tittle</th>
                <th>Description</th>
                <th>startTime</th>
                <th>endTime</th>
                <th>Location</th>
                <th>Status</th>
                <th></th>
                
                
                
            </tr>
        </thead>

        <tbody>
             @for(meeting of getMeetings; track meeting.id) {
                  <tr  >
               
                <td>{{meeting.title}}</td>
                <td>{{meeting.description}}</td>
                <td>{{meeting.startTime}}</td>
                <td>{{meeting.endTime}}</td>
                <td>{{meeting.location}}</td>
                <td>{{meeting.status}}</td>
                <td> 
                    
                    <button (click)="onDeleteMeeting(meeting)" class="icons" matMiniFab>
                            <mat-icon>delete_outline</mat-icon>
                    </button>
                    
                   
                    @if(meeting.status === 'UPCOMING'){
                        <button id="qr-code-btn" class="icons" matMiniFab (click)="onQrCode(meeting)">
                            <mat-icon>qr_code</mat-icon>
                        </button>
                    }@else {
                        <button id="qr-code-btn" class="icons" matMiniFab (click)="onViewAttendance(meeting)">
                            <mat-icon>view_module</mat-icon>
                        </button>
                    }
                    
                </td>


         
                
                
            </tr>
        }
          

            
        </tbody>


 </table>
       </div>

  <!-- <button id= "refreshBtn" matMiniFab >sync</button>   -->
  <div id="routed-view">
        <router-outlet/> 
    </div>
 

 <!-- <button id="add-button" class="icons" matMiniFab (click)="onAdd()">
            +
 </button> -->
    </div>
   
 </div>
