#container {
   width: 1895px;
   min-height: 1000px;
   /* border: solid red; */
}

#header {
    width: 1895px;
     height: 50px;
     border: solid darkblue;
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;
     text-align: center;
     color: darkblue;
}

#list-of-meetings {
   width:1090px;
   min-height: 500px;
   /* border: solid darkblue; */
   margin-left: 30px;
   margin-top: 70px;
}

p{
    margin-top: 100px;
    margin-left: 180px;
}

 table {
   width:1090px
   
    /* width: 1550px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px lightslategray;
    background-color: white;
    text-align: left;
    overflow: hidden; */
 }

 thead {
    box-shadow: 0 5px 10px lightgrey;
     
 }

   

 #add-button {
    position: absolute;
    margin-top: -900px;
    margin-left: 990px;
    background-color: white;
 }

 
  /* th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
 } */

  td {
   padding: 20px;
   color: grey;
 } 

 tr:nth-child(even) {
   background-color: whitesmoke;
 }

 tr:hover {
    box-shadow: 0 5px 10px lightslategray;

 }

 .icons {
   width: 40px;
   height: 40px;
   background-color: white;
}

 #qr-code-btn {
     margin-left: 20px;
 }

#routed-view {
   /* position: fixed; */
   width: 700px;
   min-height: 500px;
   margin-left: 1130px;
   margin-top: -20px;
   /* border: solid darkblue; */
}
#myButton{
   position: absolute;
   margin-left: 1060px;
    margin-top: -45px;
   background-color: white;
}
#refreshBtn{
   position: absolute;
   /* margin-bottom: -1050px; */
   margin-left: 1010px;
   margin-top: -45px;
   background-color: white;
}

#meetings-menu {
   width: 1400px;
   height: 70px;
   /* border: solid darkblue; */
   margin-top: 20px;
   margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
   text-align: center;
   display: flex;
   flex-direction: row;
   gap: 500px;
   list-style: none;
   font-size:large;
   /* border-bottom:solid lightgray ; */
   border-width: 1px;
   padding: 0;
   margin: 0;
   overflow: hidden;
}


 ul li {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

 }

 ul li:hover {
   color: darkblue;
 }

ul li:before{
   content: "";
   position: absolute;
   inset: calc(100% -3px)  0 0 0;
   background: darkblue;
    /* scale: 0 1; */
    /* translate:0s 0.3s ; */
   

}

ul:hover li::before {
   scale: 1;
}

/* li:hover::after{
   content: ' ';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
} */



#list-of-surveys {
     position: absolute;
     width: 1085px;
     min-height: auto;
     /* border: solid darkblue; */
     margin-left: 20px;
     margin-top: 0px;
}

#today-meetings {
   width: 1700px;
   min-height: 200px;
   /* border: solid darkblue; */
   margin-left: 50px;
   margin-top: 20px;
}

#from-tomorrow-meetings {
   width: 1700px;
   min-height: 200px;
   /* border: solid darkblue; */
   margin-left: 50px;
   margin-top: 20px;
}

#onGoing-meetings {
   width: 1700px;
   min-height: 200px;
   /* border: solid darkblue; */
   margin-left: 50px;
   margin-top: 20px;
}

#past-meeting {
    width: 1700px;
   min-height: 200px;
   /* border: solid lightblue; */
   margin-left: 50px;
   margin-top: 20px;
}

label {
   font-size: 20px;
   font-weight: 400;
}

.example-header-image {
   /* margin-left: -180px; */
}

#date-meeting {
   margin-top: -20px;
   margin-left: 60px;
}


.example-card {
   margin-top: 20px;
}
 
