
 <div id="container">
    <div id="header">
        <header>
            <h3>
                meetings
            </h3>
        </header>
    </div>

    @if(isHome) {
           <div id="meetings-menu">
        <ul>
            <li (click)="onUpComing()">upcoming</li>
            <li (click)="onOnGoing()">ongoing</li>
            <li (click)="onPast()">past</li>
        </ul>
    </div>
    @if(isUpcoming) {
        <div id="today-meetings">
        <label>Today</label>

           @for(meeting of getMeetings; track meeting.id) {
                @if (meeting.status === "TODAY") {
                            <mat-card class="example-card" appearance="outlined" (click)="onMeeting(meeting)">
  <mat-card-header>
    <div mat-card-avatar ></div>
    
    <mat-card-title>{{meeting.title}}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content id="date-meeting">
     {{meeting.date}}
  </mat-card-content>
 
</mat-card>
                }
            }
      
        
    </div>

    <div id="from-tomorrow-meetings">
        <label>Tomorrow</label>

            @for(meeting of getMeetings; track meeting.id) {
                @if (meeting.status === "UPCOMING") {
                            <mat-card class="example-card" appearance="outlined" (click)="onMeeting(meeting)">
  <mat-card-header>
    <div mat-card-avatar ></div>
    
    <mat-card-title>{{meeting.title}}</mat-card-title>
     
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content id="date-meeting">
     {{meeting.date}}
  </mat-card-content>
 
</mat-card>
                }
            }

    
    </div>

    }

    @if (isOngoing) {
        <div id="onGoing-meetings">
        <label>on-going</label>

            @for(meeting of getMeetings; track meeting.id) {
                @if (meeting.status === "ONGOING") {
                            <mat-card class="example-card" appearance="outlined" (click)="onMeeting(meeting)">
  <mat-card-header>
    <div mat-card-avatar ></div>
    
    <mat-card-title>{{meeting.title}}</mat-card-title>
     
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content id="date-meeting">
     {{meeting.date}}
  </mat-card-content>
 
</mat-card>
                }
            }
        </div>
    }


    @if(isPast) {
        <div id="past-meeting">
        <label>past</label>
          @for(meeting of getMeetings; track meeting.id) {
                @if (meeting.status === "PAST-MEETING") {
                            <mat-card class="example-card" appearance="outlined" (click)="onMeeting(meeting)">
  <mat-card-header>
    <div mat-card-avatar ></div>
    
    <mat-card-title>{{meeting.title}}</mat-card-title>
     
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content id="date-meeting">
     {{meeting.date}}
  </mat-card-content>
 
</mat-card>
                }
            }
        </div>
    }
    }
 
    <router-outlet/>
   
 </div>
