

 <div id="container">
    <div id="header">
        <header>
            <h3>
                meetings
            </h3>
        </header>
    </div>
    <div id="list-of-meetings">
        
<table>
     
        <thead>
            <tr>
                <th>Tittle</th>
                <th>Description</th>
                <th>startTime</th>
                <th>endTime</th>
                <th>Location</th>
                <th>Status</th>
                <th></th>
                
                
                
            </tr>
        </thead>

        <tbody>
             @for(meeting of getMeetings; track meeting.id) {
                  <tr  >
               
                <td>{{meeting.title}}</td>
                <td>{{meeting.description}}</td>
                <td>{{meeting.startTime}}</td>
                <td>{{meeting.endTime}}</td>
                <td>{{meeting.location}}</td>
                <td>{{meeting.status}}</td>
                <td> 
                    
                    
                   
                    @if(meeting.status === 'UPCOMING'){
                        <button id="qr-code-btn" class="icons" matMiniFab (click)="onQrCode(meeting)">
                            <mat-icon>qr_code</mat-icon>
                        </button>
                    }@else {
                        <button id="qr-code-btn" class="icons" matMiniFab (click)="onViewAttendance(meeting)">
                            <mat-icon>view</mat-icon>
                        </button>
                    }
                    
                </td>


         
                
                
            </tr>
        }
          

            
        </tbody>


 </table>
 <button  (click)="onAdd()">+</button>

 <button id="add-button" class="icons" matMiniFab (click)="onAdd()">
            +
 </button>
    </div>
    <div id="routed-view">
        <router-outlet/> 
    </div>
 </div>
