


<div id="container"> 
    
  <div id="header">
    <header >
      <h3>
        Company-info
      </h3>
    </header>
  </div> 


  <div id="stats">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>number of users</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    
  </mat-card-content>
 
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image-1"></div>
    <mat-card-title>number of meetings</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    
  </mat-card-content>
 
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image-2"></div>
    <mat-card-title>number of surveys</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    
  </mat-card-content>
 
</mat-card>

  </div>

  <div id="logo">

    </div>

    <div id="info">
      
      
         <label id="name-label">Name:</label>
         <input class="name" (click)="onUpdate()"  [value]="info.name"  readonly appEditCompanyInfo [company]="info" />
            
            <label id="registrationNo">RegistrationNo:</label>
            <input class="registrationNo" [value]="info.registrationNO" readonly  />

            <label id="sector-label">Sector:</label>
         <input class="sector" [value]="info.sector" readonly appEditCompanyInfo [company]="info" />
            
         <label id="city-label">City:</label>
         <input  class="city" [value]="info.city"  readonly appEditCompanyInfo [company]="info" />

         
         

         
         <label id="address">Address:</label>
         <input class="address" [value]="info.address" readonly appEditCompanyInfo [company]="info" />

          <label id="telNo">TelNo:</label>
        <input class="telNo" [value]="info.telNo" readonly appEditCompanyInfo [company]="info" />

        <label id="email">Email:</label>
    <input class="email" [value]="info.email" readonly appEditCompanyInfo [company]="info" />

    <label id="status" >Status:</label>
    @if(roles.includes('ROLE_ClientADMIN')){
       <mat-button-toggle-group id="statuss" name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedValue"  (click)="onToggle()" appEditCompanyInfo [company]="info">
        <mat-button-toggle value="ACTIVE">ACTIVE</mat-button-toggle>
        <mat-button-toggle value='IN-ACTIVE'>IN-ACTIVE</mat-button-toggle>
      </mat-button-toggle-group>

    }@else {
       <mat-button-toggle-group id="statuss" name="fontStyle" aria-label="Font Style"  >
        <mat-button-toggle [value]="info.status">{{info.status}}</mat-button-toggle>
        <!-- <mat-button-toggle value='IN-ACTIVE'>IN-ACTIVE</mat-button-toggle> -->
      </mat-button-toggle-group>
    }
    <!-- <input class="status" [value]="info.status"  readonly appEditCompanyInfo [company]="info"/> -->
       


    
    <!-- <button id="update" mat-button>{{roles[0]}}</button> -->
    </div>

</div>

    
