#divone{
    margin-left: 30px;
    
   
    width: 250px;
    height: 150px;
}

#divtwo{
    position: relative;
    left: 380px;
    bottom: 158px;
    
    width: 250px;
    height: 150px;
}
#city{
    position: absolute;
   margin-top: 40px;
   margin-left: -240px;

}
.city{
    border: none;
    margin-left: 35px;
    margin-top: 20px;

}
#name{
    margin-top: -20px;
    margin-left: 45px;
}
.name{
    border: none;
    margin-left: 4px;

}

#sector{
    position: absolute;
    margin-top: 60px;
    margin-left: -230px;
}
.sector{
    border: none;
    
    position: absolute;
    margin-top: 60px;
    margin-left: -180px;
}
#address{
    position: absolute;
    margin-top: 100px;
    margin-left: -230px;
}
.address{
    border: none;
     position: absolute;
    margin-top: 100px;
    margin-left: -170px;
}
.status{
    border: none;
    position: absolute;
    margin-top: -3px;
    margin-left: 10px;
}
#email{
    position: absolute;
    margin-top: 45px;
    margin-left: -43px;
}
.email{
    border: none;
   position: absolute;
    margin-top: 45px;
    margin-left: 8px;  
}
#telNo{
  position: absolute;
    margin-top: 90px;
    margin-left: -43px;    
}
.telNo{
    border: none;
  position: absolute;
    margin-top: 90px;
    margin-left: 8px;  
}
#registrationNo{
   position: absolute;
    margin-top: 130px;
    margin-left: -43px;  

}
.registrationNo{
   border: none; 
   position: absolute;
    margin-top: 130px;
    margin-left: 59px;  
 
}
input{
    font-size: 15px;
}