


<div>  
     <div id="divone">
        <label>Name:</label>
    
      <input class="name" [placeholder]="info.name" />

     <label id="city">City:</label>
     <input  class="city" [placeholder]="info.city" />

   
    <label id="sector">Sector:</label>
    <input class="sector" [placeholder]="info.sector"  />

   
     <label id="address">Address:</label>
     <input class="address" [placeholder]="info.address"  />

   

     </div>                                                         
    <div id="divtwo">
    <label id="status" >Status:</label>
    <input class="status" [placeholder]="info.status"/>

     <label id="email">Email:</label>
    <input class="email" [placeholder]="info.email" />

     <label id="telNo">TelNo:</label>
    <input class="telNo" [placeholder]="info.telNo" />

    <label id="registrationNo">RegistrationNo:</label>
    <input class="registrationNo" [placeholder]="info.registrationNO"  />
    <div id="logo">

    </div>
    
     </div>























</div>

    
