.box{
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0, 0, 0,0.1);

    margin-top: -1px;
}
input{
     width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}
h2{
    text-align : center;
    margin-top: 20px;

}
h5{
    color: red;
}

button{
    
    height: 25px;
   
    background-color: #8e918e;
    /* background-color: blue; */
    color: #fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    

}
:hover button{
    background-color: #5a6773;

}