

<div class="box"  [formGroup]="form"  (ngSubmit)="captureMeeting()">
    <form>
        
        <p>
            <h2>Meeting Title</h2>
        
        <p>
            <label>title</label>
            <input type="text" name="title" formControlName="title" >
           @if(form.get('title')?.invalid && form.get('title')?.touched){
            <h5>Tittle is required</h5>
            <!-- <span>
                @if(form.controls['title'].errors?.['minLength']){
                    <h5>min of 5 characters required</h5>

                }
            </span> -->
           }

           <span>
                @if(form.controls['title'].errors?.['minLength']){
                    <h5>min of 5 characters required</h5>

                }
            </span>
        
        <p>
            <label>description</label>
            <input type="txt" name="description" formControlName ="description">
             @if(form.get('description')?.invalid && form.get('description')?.touched){
            <h5>Description is required</h5>

           }
        </p>
        <p>
            <label>start-time</label>
            <input type="time" name="startTime" formControlName="startTime">
             @if(form.get('startTime')?.invalid && form.get('startTime')?.touched){
            <h5>Start-time is required</h5>

           }
        </p>
        <p>
            <label>end-time</label>
            <input  type="time" name="endTime" formControlName ="endTime">
             @if(form.get('endTime')?.invalid && form.get('endTime')?.touched){
            <h5>End-time is required</h5>

           }
        </p>
        <p>
            <label>date</label>
            <input type="date" name="date" formControlName ="date">
             @if(form.get('date')?.invalid && form.get('date')?.touched){
            <h5>Date is required</h5>

           }
        </p>
        <p>
            <label>location</label>
            <input type="txt" name="location" formControlName ="location">
             @if(form.get('location')?.invalid && form.get('location')?.touched){
            <h5>Location is required</h5>

           }
        </p>
        
        <p>
            <button [disabled]="!form.valid"  type="submit">create meeting</button>

           
        </p>
    </form>
</div>
