<div id="container">
    

 

    <div id="menu-options">
        <div id="options-container">

            <!-- @for(option of options; track option.id) { -->
             
            <div class="admin-option" id="option" (click)="onHome()">
                <button id="icons" matMiniFab>
                 <mat-icon>home</mat-icon>
               </button>Home
            </div>

            <div class="admin-option" id="option" (click)="onCompanies()">
                 <button id="icons" matMiniFab>
                 <mat-icon>work</mat-icon>
               </button>Companies
            </div>
               <div id="option" (click)="onLogout()">
                 <button id="icons" matMiniFab>
                 <mat-icon>exit_to_app</mat-icon>
               </button>LogOut
            </div>
               
            <!-- } -->
        </div>

    </div>
    

<div id="sub-container">
    <div id="header">
        <header>
            <h1>MYCOMPANY</h1>
        </header>
    </div>
    
    <div id="view-container">
          <router-outlet/>

@if(click){


        <div id="view-staticstics">

               <mat-card class="stat-card">
                   <div class="stat-header">
                      <span class="tittle">Active Companies</span>
                       <mat-icon class="icons" color="primary">business</mat-icon>
                    </div>

                    <div class="stat-value">75</div>
                    <div class="stat-change positive">
                             <mat-icon class="arrow">arrow_upward</mat-icon>
                             20% from last month
                    </div>
                    
                </mat-card>


             <mat-card class="stat-cards">
                   <div class="stat-headers">
                      <span class="tittle">Total Companies</span>
                       <mat-icon class="icons" color="primary">business</mat-icon>
                    </div>

                    <div class="stat-values">1,250</div>
                    <div class="stat-changes positive">
                             <mat-icon class="arrows">arrow_upward</mat-icon>
                             15% from last month
                    </div>
                    
                </mat-card>



             <mat-card class="industries">
                    <h3 id="industry-header">Industry Breakdown</h3>
                    
                
                    <div class="industry-row">     
                        <h3>Technology</h3>
                         <mat-progress-bar id="progress-bar"
                        mode="determinate"
                        value="{{industries.length}}"
                        ></mat-progress-bar> 
                        <div id="percentage">
                        {{industries.length}}%
                        </div>
                        
                    </div> 
                   
                    <div class="industry-row">     
                        <h3>Finance</h3>
                         <mat-progress-bar id="progress-bar"
                        mode="determinate"
                        value="{{industries.length}}"
                        ></mat-progress-bar> 
                        <div id="percentage">
                        {{industries.length}}%
                        </div>

                        
                    </div> 
                            
                   <div class="industry-row">     
                        <h3>Health</h3>
                         <mat-progress-bar id="progress-bar"
                        mode="determinate"
                        value="{{industries.length}}"
                        ></mat-progress-bar> 
                        <div id="percentage">
                        {{industries.length}}%
                        </div>
                        
                    </div> 
                    
                     <div class="industry-row">     
                        <h3>Retail</h3>
                         <mat-progress-bar id="progress-bar"
                        mode="determinate"
                        value="{{industries.length}}"
                        ></mat-progress-bar> 
                        <div id="percentage">
                        {{industries.length}}%
                        </div>
                        
                    </div> 


                    
                
                     <div class="industry-row">     
                        <h3>Other</h3>
                         <mat-progress-bar id="progress-bar"
                        mode="determinate"
                        value="{{industries.length}}"
                        ></mat-progress-bar> 
                        <div id="percentage">
                        {{industries.length}}%
                        </div>
                        
                    </div> 
                    


            </mat-card>







        </div>
    }

         
<!-- [color]="industry.color === 'red' || industry.color === 'blue' ? 'primary' : industry.color" -->
               
          
          
         
     </div>

    
   
</div>
<div class="backgroud">
<!-- <div class="vertical-line"></div> -->
</div>




</div>
