#container {
     width: 750px;
     min-height: 200px;
     /* border: solid darkblue; */
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 50px;
    border: solid darkblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px ;
}

#questions {
    width: 740px;
    height: 250px;
    /* border: solid salmon; */
    margin-top: 20px;
    margin-left: 5px;
    overflow-y: scroll;
    /* display:  flex;
    gap: 30px; */
}

#answers {
     width: 740px;
    height: 250px;
    /* border: solid salmon; */
    margin-top: 10px;
    margin-left: 5px;
    overflow-y: scroll;
}
th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    color: darkblue;
 }

 thead {
    box-shadow: 0 5px 10px lightgrey;
 }
 tr:nth-child(even) {
   background-color: whitesmoke;
 }

 tr:hover {
    box-shadow: 0 5px 10px lightslategray;

 }

 #questions-table {
    width: 720px;

 }

 



 