.box{
    background-color: whitesmoke;
    /* width: 1600px; */
    /* width: 80%; */
    width: 1905px;
     height: 130px;

    
   
 /* border: solid darkmagenta; */
    
}

.header{
    
    width: 1909px;
    height: 60px;
    background-color: darkblue;
    /* border: solid yellow; */

    
}
router{
    margin-top: 400px;
}

h1{
    color: white;
    margin-left: 10px;
    position: absolute;
    margin-top: 15px;
    font-size: x-large;
    
}

.sub-header{
    width: 60%;
    height: 60px;
    background-color: darkblue;
    margin-top: 70px;
    /* border: solid orangered; */
    /* margin-left: 850px; */
    
    margin-left: 733px;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius:40px ;
    color: white;
    font-size: large;
    font-weight: 300px;
    list-style: none;
   
    
    
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

   
   
}
li{
    margin-top: 20px;
    /* space:15px; */
    margin-left: 140px;
}

