#view-staticstics{
    width: 1500px;
    height: 780px;
    margin-right: 30px;
    margin-top: 90px;
    margin-top: 20px;
    
    
}

.stat-card{
    padding:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin-left: 800px;
    margin-top: 100px;

}
.stat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500px;
}
.stat-value{
    font-size: 2rem;
    font-weight: bold;
    margin: 8px 0;
    
}
.stat-change{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.stat-change.positive{
    color: green;

}
.stat-change.negative{
    color: red;
}
.arrow{
    font-size: 18px;
    margin-right: 4px;
}





.stat-cards{
    padding:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin-top: -120px;
    margin-left: 180px;
   
}
.stat-headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500px;
}
.stat-values{
    font-size: 2rem;
    font-weight: bold;
    margin: 8px 0;
    
}
.stat-changes{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.stat-changes.positive{
    color: green;

}
.stat-changes.negative{
    color: red;
}
.arrows{
    font-size: 18px;
    margin-right: 4px;
}
.icons{
    color: blue;
}

.industries{
    margin-top: 100px;
    width: 1400px;
    margin-left: 100px;
    
}
h3{
    margin-left: 30px;
}

.industry-row{
    
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: black;
   
} 
#industry-header{
    margin-left: 500px;
}

#percentage{
    margin-left: 20px;
}



#progress-bar{
    /* border: solid; */
    width: 1100px;
    margin-left: 20px;
    height: 15px;
    border-radius: 10px;

    
}


