 <div id="container">
  
  <div id="header">
    <header >
      <h3>
        Survey
      </h3>
    </header>
  </div>
    
        <div id="list-of-surveys">
          <button id="refresh-btn" matMiniFab (click)="onRefresh()">
            <mat-icon>cached</mat-icon>
          </button>
          <button id="add-btn" matMiniFab (click)="onAdd()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
         <table>
     
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
           
              @for(survey of getSurvey; track $index +1 ) {
                 <tr > 
                <th>{{$index}}</th>
                <th (click)="onSurvey(survey)">{{survey.title}}</th>
                 <button id="btn-icon" matMiniFab (click)="onDeleteSurvey(survey)">
                  <mat-icon id="icon">delete</mat-icon>
                 </button>
                 <button  id="btn-icon-delete" matMiniFab (click)="onGenerateQRCode(survey)">
                   <mat-icon>qr_code</mat-icon>
                 </button>
                </tr>
              }
            
        </tbody>
 </table>
        </div>

    <div id="routed-view">
      <router-outlet/>
    </div>
 
 </div>
   
    