<div id="container"  #qrcodeContainer>
  <label id="heading">{{surveyORMeeting}}</label>
   

   
    @if(getIsloading) {
    <img width="500" height="500" src="https://cdn-icons-gif.flaticon.com/7994/7994392.gif"/>
  }@else {
    <qrcode  [elementType]="'canvas'"  [colorDark]="'#333333'"  [colorLight]="'#ffffff'" [qrdata]="url" [width]="500" [errorCorrectionLevel]="'M'"></qrcode>

  }
  
   

  

  <div id="btns">

    <button  id="generate-btn" mat-raised-button (click)="onGenerate()">Generate</button>
     
    <button [disabled]="isNotGenerated" id="download-btn" matMiniFab (click)="onDownload()">
      <mat-icon>get_app</mat-icon>
    </button>
    
  </div>
</div>
