#container {
    width: 500px;
    min-height: 500px;
    margin-left: 110px;
    border: solid darkblue;
    display: flex;
    flex-direction: column;
    padding: 32px;
    
}

#url {
     width: 250px;
     height: 30px;
     border-radius: 30px;
     margin-left: 110px;
}