
<div class="box" >
    <form  [formGroup]="form" (ngSubmit)="captureSurvey()">
        <h2>capture survey</h2>

    <p>
        <label>Title:</label>
        <input type="text" name="title" formControlName="title">
         @if(form.get('title')?.invalid && form.get('title')?.touched){
            <h5>Tittle is required</h5>
           }
    </p>
    <form [formGroup]="form1" >
        <p>
        <label >Questions:</label>
        <input type="text"  formControlName ="question">
        @if(form1.get('question')?.invalid && form1.get('question')?.touched){
            <h5>Question is required</h5>
        }
        
        
        
    </p>
     <p>
        <button [disabled]="!form1.valid" type="reset" id="add" (click)="addClick()">+</button>
    </p>
    </form>
    

    <p>
        <label>Description:</label>
        
         <mat-form-field class="example-full-width">
    <mat-label>add description</mat-label>
    <textarea matInput name="description"  formControlName="description"></textarea>
  </mat-form-field>
  @if(form.get('description')?.invalid && form.get('description')?.touched){
            <h5>Description is required</h5>
        }
    </p>
    
    <p>
        <button [disabled]="!form.valid" type= "submit" >submit</button>
    </p>
   

    </form>

    
    @if(questions.length > 0){
         <div class="form-conntainer">
        @for(query of questions; track que){

            <ul >
              <div ><li > <h4>{{query.question}}</h4><button id="btn"  matMiniFab  (click)=" deleteQuetion(query)"><mat-icon>delete</mat-icon></button></li></div> 
            </ul>  

        }
    </div>
    }
    
   

</div>
 

 

  
